<nav class="navbar navbar-expand-md navbar-danger  sticky-top bg-primary ">
    <a href="#" class="navbar-brand">
        <img src="images/logo.svg" height="28" alt="BigBasket">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a routerLink="/" class="nav-item nav-link active">Home</a>
            <a  routerLink="/clothes" class="nav-item nav-link">clothes</a>
            <a  routerLink="/electronics" class="nav-item nav-link">electronics</a>
            <a  routerLink="/mobiles" class="nav-item nav-link">Mobiles</a>
            <a  routerLink="/Associers" class="nav-item nav-link">Associers</a>
            <a  routerLink="/" class="nav-item nav-link">all products</a>

        </div>
        
        <div class="navbar-nav ml-auto">
            <a routerLink="/login" class="nav-item nav-link">Login</a>
        </div>
        <button type="button" class="btn btn-success" routerLink="/cart">
            cart <span class="badge badge-light">1</span>
        </button>
    </div>
</nav>