/* button{
    background-color: orange;
    color: black;
    border-radius: black;
} */

img {
   height: 50px;
   width: 80%;
   margin-left: 10px;
}
.image {
    height: 400px; 
    width:100%
}

.height {
    height: 300px;
    
} 
.margin {
    margin-top: 30%;
}
