

<app-header></app-header>

<div *ngIf="!quantity" class="text-dark">
    <div class="cart">
    <h5>this cart box empty</h5>
    <button class="btn btn-primary" routerLink="/clothes">shop Now</button>
    </div>
</div>

<div class="container" *ngIf="quantity">
    <div class="row">
        <div class="container border">
            <div class="col-md-9 fixed-bottom"  *ngIf="quantity">
                <button class="btn btn-success btn-lg  mt-5 margin">Place Order</button>        
            </div>
        </div>
    </div>
    
    


<mat-card *ngIf="quantity" class="mat">
    <mat-card-title>MY CART ({{quantity}})</mat-card-title>
    <mat-card-content>
        <div class="row" *ngFor="let list of cartitems  let i=index" >
            <div class="col-md-4">
                <div class="row">
                <img class="display-inline" src="{{list.image}}"><br>
                <div class="mt-2 p-2">
                    <button class="btn btn-info  btn" (click)="decrease(list.id)">-</button>
                    <span class="p-2">{{list.quantity}}</span>
                    <button class="btn btn-info  btn" (click)="increase(list.id)">+</button>
                </div>
            </div>
            </div>
            <div class="col-md-4 b-2">
                <h5>{{list.name}} is the with 64mp camera;4000mah battary</h5>
                <p></p>
                <h6><span class="text-danger">this product have easy return policy</span></h6>
               </div>
          <div class="col-md-4">
            <h5 class="card-title">{{list.name}}</h5>
            <h6 class="card-text">{{list.price}}</h6>
            <button (click)="remove(list)" class="btn btn-danger mr-1">Remove</button>
          </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="mat"  *ngIf="quantity">
    <mat-card-title>Shop 1500 more For free Shipping</mat-card-title>
    <mat-card-subtitle>this offer only valid today</mat-card-subtitle>
</mat-card>

    <mat-card  class="mat">
      <h5>Price Details</h5>
      <mat-card-content>
        <div class="row">
            <div class="col-md-10">
              <p><strong>item cost({{quantity}}items):</strong></p>
              <p><strong>delivary Fee :</strong></p>
              <p><strong>Total Cost:</strong></p>

            </div>
            <div class="col-md-2">
              <p>{{total}}</p>
              <p> {{delivary*quantity}}</p>
              <p> {{total+quantity*delivary}}</p>

            </div>
          </div>
    </mat-card-content>
    </mat-card>
</div>
