img {
    height: 200px;
    width: 190px;
}

.border{
    border: 2px solid;
}

.btn {
    
    
    border-radius: 8px;
}

.cart {
    width:50%;
    height: 200px;
    margin-left: 20%;
    position: absolute;
    margin-top: 200px;
    text-align: center;
}

.margin {
    margin-left:60%;
}
.sticky{
    top:45px;
    
     height: 0px;

}

.mat {
    margin-top: 30px;
    border: 1px solid;
}

