 <div class="container">
     <div class="row">  
         
       <div class="col-6" >
        <div class="card mb-5" *ngFor="let home of theater" >
            <!-- <div class="card-header">
              Home theater
            </div> -->
            <div class="card-body" >
                <img src="{{home.image}}">
              <h5 class="card-title">{{home.name}}</h5>
              <p class="card-text">{{home.price}}</p>
              <a href="#" class="btn btn-primary" routerLink="/electronics/hometheater/{{home.name}}">deatils</a>
            </div>
          </div>
     </div>
    

<div class="col-6">
{{items}}
{{item}}
</div>
</div>